<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/index.css">
            <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Dashboard</title>
</head>
<body>

    <div class="sidebar">

        <div class="side-bar-inner">


            
        <div class="side-bar-logo">
            <h3>FORMLINX</h3>
        </div>

        <div class="side-bar-buttons">

            <a href=""><p class="active-side">Forms</p></a>
            <a href=""><p>Account</p></a>
            <a href=""><p>Settings</p></a>

        </div>



        </div>

    </div>



    <main class="main">

        <div class="section-title">

            <p>Forms</p>

            <div class="side-bar-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>                
            </div>

        </div>

        <div class="new-form-button">

             <a href="/dashboard/forms/new"><button>New Form</button></a>

        </div>

        <div class="forms-table">

            <div class="table-title">
                <p>Your Forms</p>
            </div>
            <div class="table-body">

                 <table>

                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Submisions</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>

                <tbody>

                    <tr>
                        <td>Application Form</td>
                        <td>teckhardy@gmail.com</td>
                        <td>50</td>
                        <td> <button class="disable">Disable</button> </td>
                        <td> <button class="delete">Delete</button> </td>
                        <td> <a href=""> <button class="manage">Manage</button></a> </td>
                    </tr>


                </tbody>

            </table>

            </div>

           

        </div>

       
    </main>
    
</body>
</html>