<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/index.css">
            <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Dashboard</title>
</head>
<body>

    <div id="side-bar" class="sidebar">

        <div class="side-bar-inner">


            
        <div class="side-bar-logo">
            <h3>FORMLINX</h3>
            <p id="close-side" class="close-side">&times;</p>
        </div>

       <div class="side-bar-buttons">

            <a href="/dashboard"><p class="active-side">Forms</p></a>
            <a href="/dashboard/account"><p>Account</p></a>
            <a href="/dashboard/settings"><p>Settings</p></a>

        </div>



        </div>

    </div>



    <main class="main">

        <div class="section-title">

            <p>Forms</p>

            <div id="toggle-side" class="side-bar-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>                
            </div>

        </div>

        <div class="new-form-button">

             <a href="/dashboard/forms/new"><button>New Form</button></a>

        </div>

        <div class="forms-table">

            <div class="table-title">
                <p>Your Forms</p>
            </div>
            <div class="table-body">

                 <table>

                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Submisions</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>

                <tbody id="form-table">


                </tbody>

            </table>

            </div>

           

        </div>


        <div class="modal" id="success-modal">
  <div class="modal-content success">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <h2 id="message-title">Success!</h2>
    <p id="modal-message"></p>
  </div>
</div>


       
    </main>
    
    
    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/getforms.js"></script>




    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="d89b1ce3-32ea-4296-8a25-484517718f7b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>
</html>