<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formlinx from Codellins</title>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>

    <!-- ===== Header Starts ===== -->

    <header>

        <div class="nav-left">

        <div class="nav-logo">
          <a href="/">  <h3>FORM<span>LINX</span></h3></a>
            <p>from <a href="https://collinsadi.github.io/codellins">CODELLINS</a></p>
        </div>

        <div class="nav-buttons">
            <a href="/about">About</a>
            <a href="/integrations">Integration</a>
            <a href="/faq">Faq</a>
        </div>


        </div>

       

        

        <div class="nav-call-to-actions">
            <a href="/signup"><button>Get Started</button></a>
            <a href="/dashboard"><button class="login-btn" >Log In</button></a>
        </div>

    </header>

     <!-- ===== Header Ends ===== -->

      <!-- ===== Hero Section Starts ===== -->

      <section class="hero">
        <div class="hero-inner">

            <div class="page-title-description">
                <h1>Your HTML forms but they actually <span>WORK</span></h1>
                <p>Use your own frontend code. Submit to our API. We'll handle the rest.</p>
            </div>
            <div class="page-hero-cta">
                <a href="/signup"><button>Get Started</button></a>
            </div>
            <div class="code-snippet">

             <div class="code-snippet-container">
                <div class="copy-button">
                    <p>copy</p>
                </div>
    <pre><code>&lt;form action=&quot;https://formlinx.onrender.com/api/form/{form_id}&quot; <br> method=&quot;post&quot;&gt;
&lt;label for=&quot;email&quot;&gt;Your Email&lt;/label&gt;
&lt;input name=&quot;Email&quot; id=&quot;email&quot; type=&quot;email&quot;&gt;
&lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;</code></pre>
</div>

<p class="main-text">  Formlinx forms can perfectly match your website</p>
<p>by inheriting your website's CSS, No Limit to Which Input Field Can Be Sent</p>

            </div>

        </div>
      </section>

       <!-- ===== Hero Section Ends ===== -->

       <section class="second-section">

        <div class="second-section-inner">

            <div class="second-section-title">

                <h1>Different Methods of Integration</h1>

            </div>

            <div class="cards-container">

            <div class="card">

                <div class="card-top">
                    <h3>1</h3>
                </div>
                <div class="card-title">
                    <h3>JavaScript</h3>
                </div>
                <div class="card-description">
                    <p>Make a Post Request Manually to Your Form Url, and Send Request Body, if you have any other Side Effects to carry out on form submission</p>
                </div>

            </div>






            <div class="card">

                  <div class="card-top">
                    <h3>2</h3>
                </div>
                <div class="card-title">
                    <h3>HTML Forms</h3>
                </div>
                <div class="card-description">
                    <p>Add Your Form Url to Your HTML form's <span>action</span>, and set the <span>method</span> to post, That's All :)</p>
                </div>




            </div>




            <div class="card">

                      <div class="card-top">
                    <h3>2</h3>
                </div>
                <div class="card-title">
                    <h3>HTML Forms</h3>
                </div>
                <div class="card-description">
                    <p>Add Your Form Url to Your HTML form's <span>action</span>, and set the <span>method</span> to post, That's All :)</p>
                </div>



            </div>

            </div>

        </div>

       </section>

    

       <section class="third-section">
        <div class="third-section-inner">

            <h2>Create a working form in seconds.</h2>
            <p>Grab your form code and see form submissions in under a minute.</p>

            <a href=""><button>Get Started</button></a>

        </div>
       </section>


       <footer>
        <div class="footer-inner">
            
              <div class="nav-logo">
          <a href="/">  <h3>FORM<span>LINX</span></h3></a>
            <p>from <a href="">CODELLINS</a></p>
        </div>

      


        </div> 
        
        <div class="copy-right-text">
            <p>&copy; Developed By <a href="https://gimba.onrender.com/developer">Collins Adi</a>, All Rights Reserved</p>
        </div>

       </footer>

</body>
</html>