<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formlinx from Codellins</title>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>

    <header>

        <div class="nav-logo">
          <a href="/">  <h3>FORM<span>LINX</span></h3></a>
            <p>from <a href="">CODELLINS</a></p>
        </div>

        <div class="nav-buttons">
            <a href="">About</a>
            <a href="">Integration</a>
            <a href="">Faq</a>
        </div>

        <div class="nav-call-to-actions">
            <a href=""><button>Get Started</button></a>
            <a href=""><button>Log In</button></a>
        </div>

    </header>
    
</body>
</html>