<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Log In</title>
</head>
<body>

    <div class="signup-page">
        <div class="signup-page-inner">

            <div class="signup-page-left">

                <div class="left-morphism">

                </div>


            </div>

            <div class="signup-page-right">

                <div class="left-inner">

                    <div id="sign_section" style="width: 100%;" class="sign-up-section">


                   

                    <div class="page-title">
                        <h3>Log In to your Formlinx Account</h3>
                        <p id="track-signup"></p>
                    </div>

                    <div class="main-form-body"  id="forsignup" >

                        <input id="email" placeholder="Email" type="text">
                        <input id="pass" placeholder="Password" type="password">
                    </div>


                    <div class="submit-button">
                        <button id="signup_btn" >Login</button>
                    </div>

                    <div class="already-have">
                        <p style="margin-top: 10px
                        ;text-align: center;">Dont Have an Account? <a href="/signup">Sign Up</a></p>
                    </div>

                    </div>

                    <div id="email-section" class="verify-email-section" style="width: 100%;" >

                        <div class="page-title">
                        <h3>Verify Your Email</h3>
                        <p id="email-error">Check Your Email for Verification Code</p>
                    </div>

                         <div class="main-form-body"  id="forsignup" >

                        <input id="verification_code" placeholder="Verification Code" type="text">

                    </div>

                     <div class="submit-button">
                        <button id="verify_button" >Verify</button>
                    </div>

                    </div>

                </div>


            </div>

        </div>
    </div>



    <script src="/scripts/login.js"></script>
    
</body>
</html>