<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/index.css">
            <link rel="stylesheet" href="/styles/dashboard.css">
            <link rel="stylesheet" href="/styles/newform.css">
    <title>Dashboard</title>
</head>
<body>

     <div id="side-bar" class="sidebar">

        <div class="side-bar-inner">


            
        <div class="side-bar-logo">
            <h3>FORMLINX</h3>
            <p id="close-side" class="close-side">&times;</p>
        </div>

       <div class="side-bar-buttons">

            <a href="/dashboard"><p class="active-side">Forms</p></a>
            <a href="/dashboard/account"><p>Account</p></a>
            <a href="/dashboard/settings"><p>Settings</p></a>

        </div>



        </div>

    </div>



    <main class="main">

        <div class="section-title">

            <p>New Form</p>

              <div id="toggle-side" class="side-bar-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>                
            </div>

        </div>

        
        <div class="form-container" id="form-container" >
            <div class="form-group">
             <input id="formname" placeholder="Form Name" type="text">
            <input id="email" placeholder="Email" type="text">
            </div>
           
            <div class="form-group">

                <input id="cemail" placeholder="Confirm Email" type="text">
            <input id="returnurl" placeholder="Return Url" type="text">
            </div>

            <div class="form-group">

                <input id="failurl" placeholder="Fail Url" type="text">
            <input id="typt" placeholder="Thank You Page Title" type="text">
            </div>
            <div class="form-group">

 <input id="returntext" placeholder="Thank You Page Return Text" type="text">
            <input id="typm" placeholder="Thank You Page Message" type="text">

            </div>
            
           

            <div class="submit-button">
                <button id="create">Create</button>
            </div>

            <p style="margin-top: 10px;" id="error">Error Tracker</p>
        </div>

        <div id="form-url-sect" class="form-container">

            <div style="width: 100%;" class="input">
                <input id="form-code-url" type="text">
                <span id="copy-code">copy</span>
            </div>

            <div class="code-snippet">


      <textarea name="" id="codesnippet" cols="30" rows="10">
                
            </textarea>
            
            <span id="copy-snippet">copy</span>

            </div>

      

        </div>
       
    </main>

    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/newform.js"></script>
    
</body>
</html>