<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/index.css">
            <link rel="stylesheet" href="/styles/dashboard.css">
            <link rel="stylesheet" href="/styles/newform.css">
    <title>Dashboard</title>
</head>
<body>

    <div class="sidebar">

        <div class="side-bar-inner">


            
        <div class="side-bar-logo">
            <h3>FORMLINX</h3>
        </div>

        <div class="side-bar-buttons">

            <a href=""><p class="active-side">Forms</p></a>
            <a href=""><p>Account</p></a>
            <a href=""><p>Settings</p></a>

        </div>



        </div>

    </div>



    <main class="main">

        <div class="section-title">

            <p>Forms</p>

            <div class="side-bar-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>                
            </div>

        </div>

        
        <div class="form-container">
            <div class="form-group">
             <input placeholder="Form Name" type="text">
            <input placeholder="Email" type="text">
            </div>
           
            <input placeholder="Confirm Email" type="text">
            <input placeholder="Return Url" type="text">
            <input placeholder="Fail Url" type="text">
            <input placeholder="Thank You Page Title" type="text">
            <input placeholder="Thank You Page Message" type="text">
            <input placeholder="Thank You Page Return Text" type="text">

            <div class="submit-button">
                <button>Create</button>
            </div>

        </div>

       
    </main>
    
</body>
</html>