<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Reset Password</title>
</head>
<body>

    <div class="signup-page">
        <div class="signup-page-inner">

            <div class="signup-page-left">

                <div class="left-morphism">

                </div>


            </div>

            <div class="signup-page-right">

                <div class="left-inner">


                    <div id="password-section"  style="width: 100%;" >

                        <div class="page-title">
                        <h3>Enter a New Password</h3>
                        <p id="email-error"></p>
                    </div>

                         <div class="main-form-body"  id="forsignup" >

                        <input id="new_password" placeholder="New Password" type="password">
                        <input id="confirm_password" placeholder="Confirm New Password" type="password">

                    </div>

                     <div class="submit-button">
                        <button id="change_button" >Set Password</button>
                    </div>

                    </div>

                </div>


            </div>

        </div>
    </div>



    <script src="/scripts/resetpassword.js"></script>
    
</body>
</html>