.form-container{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.form-group{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.form-container input{
        width: 45%;
        padding: 15px;
        border: 2px solid var(--black);
        outline: 0;
        border-radius: 15px;
        margin-top: 15px;
        font-size: 15px;
}
.form-container input:focus{
    outline: 0;
        border: 2px solid var(--primary-color);
}

.submit-button {


    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.submit-button button {

    width: 400px;
    max-width: 100%;
    text-align: center;
    border: 0;
    outline: 0;
    color: var(--white);
    background-color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
}

.form-container textarea{

    width: 45%;
        padding: 15px;
        border: 2px solid var(--black);
        outline: 0;
        border-radius: 15px;
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;
}
.code-snippet{

    width: 100%;
}

.form-container span{

    cursor: pointer;
}


#form-url-sect{


    display: none;
}

@media all and (max-width: 1246px){

    .form-container input{

        width: 60%;
    }
    .form-group{

        width: 100%;
        flex-direction: column;
    }
    .form-container textarea{

        width: 60%;
    }
}

@media all and (max-width: 776px) {
    /* your content here */
.form-container input{

    width: 90%;
}
.form-container textarea{

    width: 90%;
}

}